# To be put at: /usr/lib/systemd/system/clustdock-server.service

[Unit]
Description=Service for spawning VMs and Docker containers
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/clustdockd -c /etc/clustdockd.conf -l DEBUG --logfile /var/run/clustdockd.log

[Install]
WantedBy=multi-user.target
