# To be put at: /usr/lib/systemd/system/clustdock-server.service

[Unit]
Description=Service for spawning VMs and Docker containers
Requires=network-online.target
After=network-online.target

[Service]
ExecStart="clustdockd -c /etc/clustdockd.conf -l INFO >> /var/log/clustdockd.log 2>&1"

[Install]
WantedBy=multi-user.target
